---
import "../styles/global.css";

const { title = "박승빈 & 김성애 결혼합니다.", description = "", url = "", ogImage = "/02.JPG" } = Astro.props;
---
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph (카톡 미리보기) -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {url && <meta property="og:url" content={url} />}
    <meta property="og:image" content={ogImage.startsWith("http") ? ogImage : `${url}${ogImage}`} />
    <link rel="icon" type="image/svg+xml" href="/ring.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap"
    rel="stylesheet"
    />
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.2/kakao.min.js"></script>
  </head>

  <body class="bg-beige text-zinc-900 font-gowun h-dvh overflow-hidden">
    <main class="w-full px-5 h-dvh overflow-hidden">
      <slot />
    </main>
  </body>
</html>
